<div class="container">
    <div class="card-container">
        <div class="card">
            <p-card header="Registrar estudiante"  (click)="navigateToRegisterStudent()">
                <p class="m-0">
                    aca puedes registrar un estudiante
                </p>
            </p-card>
        </div>

        <div class="card">
            <p-card header="Registrar clase para estudiante"  (click)="navigateToRegisterClassForStudent()">
                <p class="m-0">
                    aca puedes registrar una clase para un estudiante
                </p>
            </p-card>
        </div>
    </div>
</div>




