<div class="retorno">
    <p-button label="regresar" icon="pi pi-arrow-left" [text]="true" severity="secondary"
        (onClick)="navigateToMainview()"></p-button>
</div>


<div class="container">
    <div class="card-container">
        <div class="card flex justify-content-center">
            <p-card header="Crear estudiante">
                <p-floatLabel>
                    <input pInputText  id="name" [(ngModel)]="value" />
                    <label for="name">Nombre</label>
                </p-floatLabel>
                <br>
                <p-button label="Crear estudiante" (onClick)="onSubmit()"></p-button>
            </p-card>
        </div>
    </div>
</div>